= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :signup_enabled, class: 'form-check-input'
          = f.label :signup_enabled, class: 'form-check-label' do
            Sign-up enabled
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :send_user_confirmation_email, class: 'form-check-input'
          = f.label :send_user_confirmation_email, class: 'form-check-label' do
            Send confirmation email on sign-up
    .form-group.row
      = f.label :domain_whitelist, 'Whitelisted domains for sign-ups', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :domain_whitelist_raw, placeholder: 'domain.com', class: 'form-control', rows: 8
        .form-text.text-muted ONLY users with e-mail addresses that match these domain(s) will be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com
    .form-group.row
      = f.label :domain_blacklist_enabled, 'Domain Blacklist', class: 'col-form-label col-sm-2'
      .col-sm-10
        .form-check
          = f.check_box :domain_blacklist_enabled, class: 'form-check-input'
          = f.label :domain_blacklist_enabled, class: 'form-check-label' do
            Enable domain blacklist for sign ups
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = radio_button_tag :blacklist_type, :file, false, class: "form-check-input"
          = label_tag :blacklist_type_file, class: 'form-check-label' do
            .option-title
              Upload blacklist file
        .form-check
          = radio_button_tag :blacklist_type, :raw, @application_setting.domain_blacklist.present? || @application_setting.domain_blacklist.blank?, class: 'form-check-input'
          = label_tag :blacklist_type_raw, class: 'form-check-label' do
            .option-title
              Enter blacklist manually
    .form-group.row.blacklist-file
      = f.label :domain_blacklist_file, 'Blacklist file', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.file_field :domain_blacklist_file, class: 'form-control', accept: '.txt,.conf'
        .form-text.text-muted Users with e-mail addresses that match these domain(s) will NOT be able to sign-up. Wildcards allowed. Use separate lines or commas for multiple entries.
    .form-group.row.blacklist-raw
      = f.label :domain_blacklist, 'Blacklisted domains for sign-ups', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :domain_blacklist_raw, placeholder: 'domain.com', class: 'form-control', rows: 8
        .form-text.text-muted Users with e-mail addresses that match these domain(s) will NOT be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com

    .form-group.row
      = f.label :after_sign_up_text, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :after_sign_up_text, class: 'form-control', rows: 4
        .form-text.text-muted Markdown enabled

  = f.submit 'Save changes', class: "btn btn-success"
