- subject = local_assigns[:subject]
- force_priority = local_assigns.fetch(:force_priority, false)
- show_label_epics_link = @group&.feature_available?(:epics)
- show_label_issues_link = show_label_issuables_link?(label, :issues, project: @project)
- show_label_merge_requests_link = show_label_issuables_link?(label, :merge_requests, project: @project)

.label-name
  = link_to_label(label, subject: @project, tooltip: false)
.label-description
  .append-right-default.prepend-left-default
    - if label.description.present?
      .description-text.append-bottom-10
        = markdown_field(label, :description)
    %ul.label-links
      - if show_label_epics_link
        %li.label-link-item.inline
          = link_to 'Epics', group_epics_path(@group, label_name:[label.name])
          &middot;
      - if show_label_issues_link
        %li.label-link-item.inline
          = link_to_label(label, subject: subject) { 'Issues' }
          &middot;
      - if show_label_merge_requests_link
        %li.label-link-item.inline
          = link_to_label(label, subject: subject, type: :merge_request) { _('Merge requests') }
          &middot;
      - if force_priority
        %li.label-link-item.js-priority-badge.inline.prepend-left-10
          .label-badge.label-badge-blue= _('Prioritized label')
